.docsContainer {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    height: 100dvh;
    overflow: hidden;
    background-color: #222;
    /*background-image: url('/images/striped.png');*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.2);
}

.header div, .header a {
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px 15px;
    align-items: center;
    background-color: rebeccapurple;
    font-family: 'Brush Script MT', cursive;
}

.title {
    cursor: default;
    border-radius: 0 0 15px 15px;
}

.switch {
    cursor: pointer;
    border-radius: 0 0 0 15px;
}

.back {
    border-radius: 0 0 15px 0;
}

.container {
    gap: 20px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    height: calc(100% - 46px);
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.2);
}

.docItemBase {
    display: flex;
    gap: 10px;
    padding: 8px;
    height: 58px;
    border-radius: 8px;
    backdrop-filter: blur(2px);
    transition: height 0.4s ease;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.coverImageBase {
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    background-color: rebeccapurple;
}

.coverImage {
    width: 80%;
}

.docDetails {
    width: 100%;
    display: flex;
    gap: 2px;
    flex-direction: column;
    justify-content: center;
}

.tags {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tag {
    padding: 2px 3px;
    text-align: center;
    border-radius: 3px;
    font-size: 0.8rem;
}

.docDetails .docTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    font-size: 14px;
}

button.tag {
    gap: 3px;
    border: none;
    display: flex;
    cursor: pointer;
    padding: 2px 5px;
    align-items: center;
}

button.tag svg {
    position: relative;
    top: 50%;
}

.viewTag {
    background-color: #19386a;
}

.downloadTag {
    background-color: #086c55;
}

.deleteTag {
    background-color: crimson;
}