.navbar {
    position: fixed;
    bottom: 15px;
    width: 90%;
    left: 50%;
    z-index: 10;
    display: flex;
    translate: -50%;
    align-items: center;
    border-radius: 15px;
    padding-block: 20px;
    background-color: #111;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navItem,
.navItem .icon {
    font-size: 1.5rem;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: color 0.3s ease;
}

.title {
    display: none;
}

.active {
    color: var(--theme-color);
}

.inactive {
    color: #aaa;
}

.drawer {
    position: absolute;
    bottom: 64px;
    width: 90%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0 0;
    background-color: rebeccapurple;
    transition: height 0.3s ease-in-out;
    background-image: url('/images/striped.png');
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 641px) {
    .navbar {

    }

    .title {
        display: block;
    }
}