.authCredentialsContainer {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authCredentials {
    width: 100%;
    gap: 32px;
    padding: 20px;
    display: flex;
    height: fit-content;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.btn {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
    background-color: #222;
    transition: all .3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.btn:hover:before {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.btn:active {
    scale: 0.95;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFF;
}

.desc {
    font-size: 1rem;
    color: #ccc;
}

.authCredentials form {
    width: 100%;
}

.authCredentials fieldset {
    border: none;
    width: 100%;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.input {
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    outline: none !important;
}

.options {
    user-select: none;
    display: flex;
    font-size: .8rem;
    transition: color 0.5s ease;
    justify-content: space-between;
}

.rememberMeBase {
    display: flex;
    gap: 5px;
    color: #ccc;
    align-items: center;
}

.forgotPassBtn {
    cursor: pointer;
    color: #ccc;
}

.options span:hover {
    color: #fff;
}

.footer {
    width: 100%;
    color: #ccc;
    font-size: .8rem;
    text-align: center;
}

.footer button {
    cursor: pointer;
    background: none;
    border: none;
    font-weight: 500;
}

.label {
    position: relative;
}

.eyeBtn {
    position: absolute;
    top: 50%;
    color: #ccc;
    right: 10px;
    border: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    transform: translateY(-50%);
}

.errorDiv {
    position: relative;
    width: 100%;
    height: 30px;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    border-left: 4px solid crimson;
    background-color: #222;
}

.errorDiv span {
    font-size: .8rem;
}

.closeBtn {
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 5px;
    translate: 0 -50%;
}

.spinner {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}